.box {
    background-color: lightcyan;
    border: 1px solid gray;
    flex: 1;
}

.row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex: 1;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hover {
    background-color: black;
}

.board {
    width: 80vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}